@import "tailwindcss";

@theme {
  --color-brand-sand: #D5C7B6;
  --color-brand-sand-light: #F4EBE1;
  --color-brand-beige: #F9F7F5;
  --color-brand-sage: #5F7A59;
  --color-brand-sage-light: #9CAE96;
  --color-brand-sage-dark: #43583E;
  --color-brand-brown: #8D6F59;
  --color-brand-brown-dark: #46372E;

  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-brand-beige);
    color: var(--color-brand-brown-dark);
    font-family: var(--font-sans);
  }
}