@import "tailwindcss";

@theme {
  --color-brand-sand: #E2D5C4;
  --color-brand-sand-light: #F4EBE1;
  --color-brand-beige: #F8F6F2;
  --color-brand-sage: #8F9E8B;
  --color-brand-sage-light: #B4C2B0;
  --color-brand-sage-dark: #6C7A68;
  --color-brand-brown: #A98C7B;
  --color-brand-brown-dark: #786153;

  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-brand-beige);
    color: var(--color-brand-brown-dark);
    font-family: var(--font-sans);
  }
}